@import 'tailwindcss';

@source './**/*.{html,js,svelte,ts}';

@theme {
	--color-back: #ffffff;
	--color-back-light: #f6fafd;
	--color-back-api: #e5eef5;
	--color-prime: #0e79b2;
	--color-oldprime: #ff3e00;
	--color-second: #bf1363;
	--color-flash: #40b3ff;
	--color-highlight: #f3f9d2;
	--color-heading: #222;
	--color-text: #444;
	--color-second-text: #7b7766;
	--color-sidebar-text: rgba(255, 255, 255, 0.9);

	--font-weight-300: 300;
	--font-weight-600: 600;

	--font-fira: Fira;

	--color-demo: #24292e;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
	font-family: Overpass;
	font-style: normal;
	font-weight: 300;
	src: local("Overpass Light "), local("Overpass-Light"),
		url(/fonts/overpass-latin-300.woff2) format("woff2");
}

@font-face {
	font-family: Overpass;
	font-style: normal;
	font-weight: 600;
	src: local("Overpass Bold "), local("Overpass-Bold"),
		url(/fonts/overpass-latin-600.woff2) format("woff2");
}

@font-face {
	font-family: Fira Mono;
	font-style: normal;
	font-weight: 400;
	src: local("Fira Mono Regular "), local("Fira Mono-Regular"),
		url(/fonts/fira-mono-latin-400.woff2) format("woff2");
}

code {
	font-family: "Fira Mono";
}

:root {
	--font-body: "Overpass", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--font-mono: "Fira", monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-primary: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
	font-weight: 300;
}

html {
	@apply bg-gray-50 dark:bg-slate-800;
}