@import "tailwindcss";

@source './**/*.{html,js,svelte,ts}';

@theme {
	--color-primary: #0e79b2;
	--color-primary-light: #2691ca;
	--color-primary-superdark: #1c485f;

	--color-oldprime: #ff3e00;

	--color-secondary: #bf1363;
	--color-secondary-light: #d4327e;

	--color-demo: #24292e;

	--color-text: #444;
	--color-lighttext: #444;
	--color-nice-grey: #bbb;
	--color-darktext: var(--color-nice-grey);

	--font-weight-300: 300;
	--font-weight-600: 600;

	--font-fira: Fira;

}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@font-face {
	font-family: Overpass;
	font-style: normal;
	font-weight: 300;
	src:
		local("Overpass Light "),
		local("Overpass-Light"),
		url(/fonts/overpass-latin-300.woff2) format("woff2");
}

@font-face {
	font-family: Overpass;
	font-style: normal;
	font-weight: 600;
	src:
		local("Overpass Bold "),
		local("Overpass-Bold"),
		url(/fonts/overpass-latin-600.woff2) format("woff2");
}

@font-face {
	font-family: Fira Mono;
	font-style: normal;
	font-weight: 400;
	src:
		local("Fira Mono Regular "),
		local("Fira Mono-Regular"),
		url(/fonts/fira-mono-latin-400.woff2) format("woff2");
}

/*code {*/
/*	font-family: "Fira Mono";*/
/*}*/

.regular-text {
	@apply text-lighttext dark:text-darktext;
}

.primary-text {
	@apply text-primary dark:text-primary-light;
}

.secondary-text {
	@apply text-secondary dark:text-secondary-light;
}

.search-input {
	@apply mt-4 w-1/3 p-4 rounded-md border;
	@apply border-slate-600 bg-slate-100;
	@apply text-lg;
	@apply focus:outline-4 focus:outline-primary dark:focus:outline-nice-grey;
}

.search-brick {
	@apply hover:text-primary dark:hover:text-primary-light;
	@apply dark:text-darktext;
}

.demo-textarea {
	@apply dark:bg-gray-500;
	@apply rounded-md border border-black dark:border-primary;
	@apply focus:outline-2 focus:outline-primary;
	@apply px-3 py-2;
}

:root {
	--font-body:
		"Overpass", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	/*--font-mono: "Fira", monospace;*/
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	font-weight: 300;
}

@media (prefers-color-scheme: dark) {
	.shiki,
	.shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
}

html {
	@apply bg-gray-50 dark:bg-slate-800;
}
